body > #root > div {
  min-height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.action-button {
  position: fixed;
  bottom: 0;
  right: 0;
}

.action-button > button{
  background-color: #121212;
  color: white;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 99px;
  font-size: 1rem;
  margin: 20px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.action-button > button:hover {
  border-color: #1ed760;
}

#made-by {
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(114, 114, 114);
  padding: 10px;
  font-size: 0.7rem;
  font-style: italic;
}

#made-by a {
  color: #ffffff;
  transition: color 0.4s ease;
}

#made-by a:hover {
  color:#1ed760;
}

@media screen and (max-width: 768px) {
  #logout {
    justify-content: center;
  }
  #logout > button {
    font-size: 0.8rem;
  }
}