.login-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#login-spotify {
    background-color: #393939;
    color: #1ed760;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 99px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
    display: flex;
}

#login-spotify:hover {
    background-color: #1ed75f7b;
}

#login-spotify img {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

#login-spotify > h4 {
    margin: 0;
}

.login-root > h2 {
    margin: 0;
}
