#songs-you-know {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#songs-you-know h2 {
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.songs-list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    justify-content: flex-start;
    width: 60%;
    height: 400px;
    border-radius: 10px;
    margin: 1em;
    padding: 0.4em 0;
    text-align: left;
}

.songs-list, #playlists-tracks {
    background: rgb(29,86,101);
    background: linear-gradient(45deg, rgb(37, 108, 126) 0%, rgba(23,55,68,1) 100%); 
}

.songs-list, #saved-tracks {
    background: rgb(101, 29, 29);
    background: linear-gradient(45deg, rgb(155, 46, 46) 0%, rgb(68, 23, 23) 100%); 
}

.songs-list::-webkit-scrollbar {
    display: none;
}

.song-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4em;
    cursor: pointer;
    height: max-content;
    color: white;
    align-items: center;
}

.song-item img {
    width: 3em;
    height: 3em;
    margin: 0 0.5em;
}

.song-item p {
    margin: 0;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 1em;
    width: 50%;
}

.item-info p {
    color: rgb(138, 214, 255);
    font-style: italic;
}

#saved-tracks p {
    color: rgb(255, 138, 138);
    font-style: italic;
}

.item-info h4 {
    margin-bottom: 5px;
    font-weight: 400;
}

.playlists {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: scroll;
    scrollbar-width: none;
}

.playlists::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .songs-list {
        width: 100%;
        margin: 0;
        height: 300px;
        font-size: smaller;
    }
    .item-info {
        width: 50%;
    }
    .playlists {
        width: 50%;
    }
    .playlists img {
        margin: 0 0.3em;
    }
    
}