img {
    width: 150px;
    height: 150px;
}

#user-artist-state {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#user-artist-state h3 {
    color: white;
    font-weight: normal;
}

@media screen and (min-width: 769px) {
    #user-artist-state {
        flex-direction: column;
        align-items: center;
    }
    
}